*
!src
!package.json
!docker
!yarn.lock
!scripts
!tsconfig.json
!docs
!CHANGELOG.md
!LICENSE
!README.md
!frontend
frontend/node_modules
frontend/build


unleash-proxy/.git/
unleash-proxy/.github/
unleash-proxy/dist/
unleash-proxy/node_modules/
unleash-proxy/scripts/
unleash-proxy/src/examples/
unleash-proxy/src/test/
unleash-proxy/.dockerignore
unleash-proxy/.gitignore
unleash-proxy/.nvmrc
unleash-proxy/CHANGELOG.md
unleash-proxy/Dockerfile
unleash-proxy/example.js
unleash-proxy/jest.config.js
unleash-proxy/README.md
